spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: false
    open-in-view: false
    defer-datasource-initialization: true # Important: Wait with data initialization until after JPA
  
  sql:
    init:
      mode: always
      data-locations: classpath:data_prod.sql

server:
  port: ${PORT:8080}